@import 'https://fonts.googleapis.com/css?family=Exo|PT+Sans';
.emphatic { 
  font-style: oblique;
  font-weight: bold; 
}
.noted {
  color: #AF928E;
}
.icentre {
  text-align: center;
}
.uncentre {
  text-align: left;
}
.margins {
  width: 75%;
  margin: auto;
}
.
body {
  font-family: 'PT Sans';
}
h1, h2, h3 {
  font-family: 'Exo';
  font-weight: 600;
  margin-bottom: 0;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
a:link { color: #AF928E; }
a:visited { color: #D7C5AF; }
.footnote {
  bottom: 3em;
  position: absolute;
  font-size: 0.8em;
  font-style: italic;
}
img {
  margin: auto;
  display: block;
}
footer {
  clear: both;
  position: relative;
  height: 3em;
  margin-top: 3em;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
.imlabel {
 /* bottom: 3em;*/
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
li p { line-height: 1em; }
.large { font-size: 2em; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #28272D;
  color: #DAE6F4;
}
.inverse h1, .inverse h2 {
  color: #AF928E;
  line-height: 1em;
}
/* Two-column layout */
.left-column {
  color: #AF928E;
  width: 20%;
  height: 92%;
  padding-right: 1em;
  float: left;
  font-size: 0.8em;
}
.left-column h2 {
  font-size: 1.6em;
}
.left-column h3 {
  font-size: 1.2em;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #D7C5AF;
}
.right-column {
  width: 75%;
  float: right;
  height: 92%;
  padding-top: 0.5em;
}
